/*
Esse é o arquivo CSS.
Você pode colocar um código numa tag pelo nome da tag, pelo id dela, pela classe (de um grupo de tags).
*/

body{
  /* TAG */
  background:  url("bg.jpg");
}

section{
	color: #FFF;
	display: block;

 	margin: 0px;
 	padding-left: 50px
 	padding-right: 50px;
}

#cab{
	color: #FFF;
	text-shadow: 2px 2px #FF0000;	
}

#tit{
	text-align: center
}

#latin{
	text-shadow: none;
	text-align: center

}

#listas{
	color: #FFF;
	text-shadow: 2px 2px #FF0000;
}

#link{
	color: #FFF;
	text-shadow: 2px 2px #FF0000;
}

#elements{
	color: #FFF;
}

tabela1{
	color: #FFF;
}

.class {
 /* CLASS */
}

a{
  /* a */
}

a:hover{
 /* Estados */
}

header a{
 /* Nesting */
}
